.banner-notif {
    background-color: $blue;
    @include radius-12;
    display: flex;
    align-items: center;
    padding: 20px 16px;
    position: relative;
    margin-bottom: 24px;
    &.green {
        background-color: rgb(8, 167, 85);
    }
    &.orange {
        background-color: rgb(236, 145, 85);
    }
    &.red {
        background-color: rgb(218, 54, 44);
    }
}

.banner-notif-img {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 16px;
    img {
        width: 100%;
        display: block;
        margin: auto;
    }
}

.banner-notif-button {
    display: block;
    position: relative;
    margin-left: auto;
    border-radius: 100px;
    padding: 0 16px;
    border: unset;
    height: 24px;
    color: $orange;
    background-color: white;
    font-weight: 500;
}

.banner-notif-close {
    position: absolute;
    top: 6px;
    right: 12px;
    font-family: "Material Icons";
    width: 20px;
    padding: 0;
    line-height: 1;
    border: unset;
    background-color: transparent;
    height: 20px;
    color: $black;
    font-size: 16px;
    opacity: 0.4;
}
