.mb-4 {
    margin-bottom: 4px !important;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-28 {
    margin-bottom: 28px;
}
.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}
.mb-124 {
    margin-bottom: 124px;
}
.mb-196 {
    margin-bottom: 196px;
}
.mb-248 {
    margin-bottom: 248px;
}

.ml-4 {
    margin-left: 4px;
}
.ml-8 {
    margin-left: 8px;
}
.ml-12 {
    margin-left: 12px;
}
.ml-16 {
    margin-left: 16px;
}
.ml-24 {
    margin-left: 24px;
}
.ml-32 {
    margin-left: 32px;
}
.mr-4 {
    margin-right: 4px;
}
.mr-6 {
    margin-right: 6px;
}
.mr-8 {
    margin-right: 8px;
}
.mr-16 {
    margin-right: 16px;
}
.mr-32 {
    margin-right: 32px;
}

.mt-4 {
    margin-top: 4px !important;
}
.mt-8 {
    margin-top: 8px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-32 {
    margin-top: 32px;
}
