.mb-16 {
    margin-bottom: 16px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-28 {
    margin-bottom: 28px;
}
.mb-32 {
    margin-bottom: 32px;
}

.ml-4 {
    margin-left: 4px;
}
.ml-8 {
    margin-left: 8px;
}
.mr-4 {
    margin-right: 4px;
}
.mr-6 {
    margin-right: 6px;
}
.mr-8 {
    margin-right: 8px;
}
