@mixin regular {
    font-weight: 400;
}
@mixin medium {
    font-weight: 500;
}
@mixin bold {
    font-weight: 700;
}

@mixin radius-4 {
    border-radius: 4px;
}

@mixin radius-6 {
    border-radius: 6px;
}

@mixin radius-8 {
    border-radius: 8px;
}

@mixin radius-12 {
    border-radius: 12px;
}
