.selectable-carousel-container {
    height: 40px;
    overflow-y: hidden;
    width: calc(100% + 48px);
    margin: 0 -24px;
}
.selectable-items-grid {
    display: flex;
    grid-template-columns: repeat(3, minmax(88px, auto));
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    justify-content: start;

    &.carousel {
        display: flex;
        width: 100%;
        margin: 0 0;
        overflow-x: auto;
        justify-content: start;
        padding: 0 24px 16px;
        grid-column-gap: unset;
        grid-row-gap: unset;
        .selectable-item {
            width: auto;
            white-space: nowrap;
            margin: 0 8px;
            min-width: unset;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
.selectable-item {
    font-size: 16px;
    border: 1px solid $light-blue;
    background-color: white;
    height: 28px;
    padding: 0 16px;
    height: 40px;
    min-width: 88px;
    @include bold;
    @include radius-12;
    &.active {
        border-color: $blue;
        background-color: $lighter-blue;
        border-bottom: 2px solid $blue;
    }

    &.counter {
        display: flex;
        border: transparent;
        min-width: unset;
        padding: 0;
    }
}

.selectable-items-inline {
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    row-gap: 16px;
}
.selectable-item-inline {
    font-size: 16px;
    border: 1px solid $light-blue;
    background-color: white;
    padding: 12px 16px;
    min-width: 88px;
    @include radius-12;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    line-height: 1.5;
    &.active {
        border-color: $blue;
        background-color: $lighter-blue;
        border-bottom: 2px solid $blue;
    }

    img {
        width: 24px;
        margin-right: 16px;
    }
}

.selectable-item-inline.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.selectable-item-button {
    font-size: 16px;
    border: 1px solid $light-blue;
    background-color: white;
    height: 28px;
    padding: 0 16px;
    height: 40px;
    @include bold;
    @include radius-12;
    margin: 0 16px;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &.active {
        border-color: $blue;
        background-color: $lighter-blue;
        border-bottom: 2px solid $blue;
    }
}
.selectable-item-label {
    font-size: 16px;
    border: 1px solid $blue;
    background-color: white;
    height: 28px;
    padding: 0 16px;
    height: 40px;
    @include bold;
    @include radius-12;
    outline: 3px solid $light-blue;
}

.selectable-items-alt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
}

.selectable-item-alt {
    padding: 8px 16px;
    @include radius-12;
    font-size: 16px;
    @include bold;
    color: $black;
    background-color: $light-gray;
    margin: 0 8px;
    &.selected {
        background-color: $blue;
        color: white;
    }
}

.selectable-box-container{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.selectable-box {
    padding: 16px;
    @include radius-12;
    border: 1px solid $light-gray;
    &.selected {
        border-color: rgb( 252, 238, 225);
        background-color: rgb( 252, 238, 225);
    }
}


