$black: rgb(13, 23, 27);
$gray: rgb(134, 139, 141);
$gray-2: rgb(224, 226, 226);
$light-blue: rgb(150, 203, 227);
$lighter-blue: rgb(236, 246, 250);
$blue: rgb(46, 151, 200);
$ligh-orange: rgb(236, 145, 56);
$orange: rgb(218, 54, 44);
$success: rgb(8, 167, 85);
