$black: rgb(13, 23, 27);
$gray: rgb(134, 139, 141);
$gray-2: rgb(224, 226, 226);
$light-gray: rgb(243, 244, 244);
$light-blue: rgb(150, 203, 227);
$lighter-blue: rgb(236, 246, 250);
$light-blue-alt: rgb(46, 151, 200);
$blue: rgb(46, 151, 200);
$lighter-orange: rgb(252, 238, 225);
$ligh-orange: rgb(236, 145, 56);
$light-red: rgb(251, 233, 233);
$orange: rgb(218, 54, 44);
$success: rgb(8, 167, 85);
